
html {height: 100%;}body {background-image: linear-gradient(#d1c6ef, rgb(92, 105, 199));}
img{
    width: 200px;/*ancho de la imagen*/
    height: 200px;/*alto de la imagen*/
}
img:hover{
    background: linear-gradient(#6f054f, #ba87b5);
}
th{
    color: aliceblue;
}
td{
    color: white;
}
input{
    border-radius: 3px;
    border: 3px solid rgb(48, 28, 182);
    background-color: #b1baeb;
}

.tipoinputs{
    background-color: rgb(182, 215, 243);
}
#nombrepersona{
    height: 15px;

}
